.page-container {
    height: 100%;
    margin-left: 20%;
    margin-top: 7%;
    margin-right: 10%;
}
@media only screen and (max-width: 700px) {
    .page-container {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 30%;
    }
}

/* Main page name and title */
#name {
    font-family: 'Zilla Slab', serif;
    font-weight: 600;
    font-size: 5em;
    text-decoration: overline;
    color: black;
}

#title {
    font-family: 'Zilla Slab', serif;
    font-weight: 300;
    font-size: 4em;
}
@media only screen and (max-width: 700px) {
    #name {
        font-size: 4em;
    }
    #title {
        font-size: 2em;
    }
}

.navBar {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    justify-content: flex-start;
}
.navBar > a{
    margin-right: 5%;
    font-size: 1.5em;
}

/* All links */
.link {
    /* Text styling */
    color: #2a2a2a;
    font-family: 'Zilla Slab';
    text-decoration: underline;
}
.link:hover {
    background-color: #B4D5FE;
    color: #2a2a2a;
}

/* Icons on contact page */
.contactImg {
    width: 2.5em;
    font-size: 1.5em;
}

/* Portfolio page expanding cards */
.full-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card-container {
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.card-wrapper {
    font-size: 1.5em;
    box-shadow: 0 0.6em 1.4em 0.1em #b4b4b4;    
    border-radius: 6px;
    max-height: 5em;
    overflow: hidden;
    padding: 1em;
    text-align: center;
    width: 12.5em;
    margin-bottom: 2em;
    transition: max-height 400ms ease-in-out;
}
.card-wrapper:hover {
    box-shadow: 0 0.6em 1.4em 0.1em #797979;    
    cursor: pointer;
    max-height: 28em;
}
.card-reveal {
    font-size: 0.5em;
}
.btn-container {
    display: flex;
    justify-content: space-evenly;
}
.portfolio-btn {
    height: 2em;
    width: 6em;
    font-size: 1.3em;
    border-style: outset;
}


p {
    font-family: "Zilla Slab", serif;
    font-weight: 400;
    font-size: 1.5em;
}