.page-container {
    height: 100%;
    margin-left: 20%;
    margin-top: 10%;
}

@media only screen and (max-width: 700px) {
    .page-container {
        margin:0px auto;
    }
}

/* Main page name and title */
#name {
    font-family: 'Zilla Slab', serif;
    font-weight: 600;
    font-size: 5em;
    text-decoration: overline;
    color: black;
}
#title {
    font-family: 'Zilla Slab', serif;
    font-weight: 400;
    font-size: 4em;
}

.navBar {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    justify-content: flex-start;
}
.navBar > a{
    margin-right: 5%;
    font-size: 1.5em;
}

/* All links */
.link {
    /* Text styling */
    color: #2a2a2a;
    font-family: 'Zilla Slab';
    text-decoration: underline;
}
.link:hover {
    background-color: #B4D5FE;
    color: #2a2a2a;
}

/* Icons on contact page */
.contactImg {
    width: 2.5em;
    font-size: 1.5em;
}

p {
    font-family: "Zilla Slab", serif;
    font-weight: 400;
    font-size: 1.5em;
}